[Desktop Entry]
Encoding=UTF-8
Name=wmtop
Comment=Dockapp version of the top utility
Comment[pl]=Aplet będący odmianą narzędzia top
Exec=wmtop
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
